<div class="main">
  @if (pvData === undefined) {
    <app-error-page></app-error-page>
  }
  @if ( pvData) {
    <div>
      <app-header [pvData]="pvData" [viewMode]="viewMode" (viewChanged)="viewMode=!viewMode"></app-header>
      <!--    <app-pv-overview *ngIf="data" [data]="data"></app-pv-overview>-->
      @if (viewMode && pvData) {
        <app-table-page [data]="pvData!.devices"></app-table-page>
      }
      <app-tile-page class="tile-page" [deviceData]="pvData!.devices"></app-tile-page>
    </div>
  }
</div>
