@if (false) {
  <button class="icon" mat-mini-fab color="primary">
    <mat-icon>refresh</mat-icon>
  </button>
}
@if (deviceData) {
  <div class="grid">
    @for (device of deviceData; track device) {
      <div>
        <app-tile
          [header]="device.name"
          [power]="device.currentPower"
          [isActive]="device.activeDevice===1"
          [icon]="device.notes"
          [isConnected] = "device.signal !== null && device.signal === 'connected'"
        ></app-tile>
      </div>
    }
  </div>
}
