.frame {
  text-align: center;
  width:220px;
  //padding-left:20px;
  //padding-right:20px;
}
.description {
  font-size: 0.8em;
  color: lightblue;
  //text-align: right;
  //padding-left:20px;
}

.value {
  font-size: 3.0em;
  color: white;
  font-weight: bold;
  //text-align: right;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: #af0000;
}

.blue {
  color: dodgerblue;
}


.yellow {
  color: #ffff00;
}
