.frame {
  text-align: center;
  //background-color: #101010;
}
.description {
  font-size: 0.8em;
  color: lightblue;
}

.value {
  font-size: 3.0em;
  color: white;
  font-weight: bold;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: #af0000;
}

.blue {
  color: dodgerblue;
}


.yellow {
  color: #ffff00;
}
